#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.swal2-custom-button {
    min-width: 100px; 
    height: 40px;
}

#in
{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
a{
    text-decoration: none;
    color:black;
}
button{
    border:0px;
    padding:5px;
    background-color: #ccccccfb;
    color:black;
    border-radius:5px;
    height:5vh;
}
.but{
    margin-left:40vw;
}
.list-group-item {
    width: 60vw; 
    border-radius:5px;
    display: inline-block; 
    margin-left: 5vw; 
  }

  .hr-line {
    width: 100%; 
    height: 3px; 
    background-color: #ebe7e7; 
    border: none; 
    box-shadow: 0 2px 5px rgba(222, 221, 220, 0.97); 
    margin: 20px 0; 
  }
  

  