#okay{
    border:0px;
    padding:5px;
    background-color: #ccccccfb;
    color:black;
    border-radius:5px;
    height:6vh;
    width:7vw;
    margin-left:45vw;
}

#okayx{
    border:0px;
    padding:5px;
    background-color: #ccccccfb;
    color:black;
    border-radius:5px;
    height:6vh;
    width:7vw;
    margin-left:4vw;
}

