<html>
<head>
    <title>Urbanlife</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style/admin.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3"></script>
    <script>
        var C = JSON.parse('{( CC | tojson | safe )}');
        var P = JSON.parse('{( PP | tojson | safe )}');
        var O = JSON.parse('{( OO | tojson | safe )}');
        var S = JSON.parse('{( SS | tojson | safe )}');
    </script>
    <style>
        #ch{
            margin-left:25vw;
        }
    </style>
</head>
<body style="background-color:rgba(1, 1, 1, 0.951);">

    <div id="adm">
      <br><br>
        <h2 style="margin-left:7vw;"><i>Welcome Admin</i></h2>
        <button style="margin-left:85vw;width:8vw;" onclick="report()">REPORT</button>
        <br>
        <br><br>
        <div id="carouselExample" class="carousel slide" data-bs-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="container">
                    <p style="margin-left:40vw;">CUSTOMERS<br></p>
                    <br>
                    <customers :C="cust"></customers>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                  <p style="margin-left:42vw;"> PROFESSIONALS <br></p>
                    <br>
                    <professionals :P="profs"></professionals>
                    <br><br>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                  <p style="margin-left:43vw;">ORDERS</p>
                  <br><br>
                    <orders :O="ord"></orders>
                    <br><br>
                </div>
              </div>

              <div class="carousel-item">
                <div class="container">
                  <p style="margin-left:45vw;">SERVICES <button style="width:7vw;margin-left:2vw;" onclick="AddService()"> <b>Add New +</b></button></p>
                  
                    <br><br>
                    <services :S="serv"></services>
                    <br><br>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          
    </div>
   
    <script type="text/javascript" src="../static/scripts/admin.js"></script>
    <script>
      function AddService(){
        Swal.fire({
          title: 'Urbanlife', 
          html: `
          <input id="a" class="swal2-input" placeholder="Enter Service Name" style="height:2.3vw;">
          <input id="b" class="swal2-input" placeholder="Enter description" style="height:2.3vw;">
          <input id="c" class="swal2-input" placeholder="Enter Image Url" style="height:2.3vw;">
          <input id="d" class="swal2-input" placeholder="Enter Price in Rs" style="height:2.3vw;">
          <input id="e" class="swal2-input" placeholder="Enter Time Needed in hrs" style="height:2.3vw;">
      `,
      focusConfirm: false,
      showCancelButton: true,
      confirmButtonText: 'Ok',
      customClass: {
        confirmButton: 'swal2-custom-button',
        cancelButton: 'swal2-custom-button'
      },
      preConfirm: () => {
          return {
              namee: document.getElementById('a').value,
              dex: document.getElementById('b').value,
              im: document.getElementById('c').value,
              pp: document.getElementById('d').value,
              tt: document.getElementById('e').value
          };
      }
        }).then((result) => {
          if (result.isConfirmed) {
            const itemx = result.value; 
            fetch('/serviceAdd', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json', 
                'Authorization': 'Bearer your-access-token', 
              },
              body: JSON.stringify(itemx)
            }).then(response => {
              if (response.ok) {
                  alert('Service Added');
              } else {
                  console.error('Failed to send request:', response.statusText);
              }
          }).catch(error => {
              console.error('Error sending request:', error);
          });
          }
        });
  
      }
    </script>
</body>
</html>